.ui-dialog {
  position: absolute;
  z-index: 2;
  top: 100.125px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;     
}
p{
  font-size: 2em;
}

.ui-dialog #intro {
  width: auto;
  min-height: 128px;
  max-height: none;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

/* Header Styles */
body {

}
header {
	width: 100%;
	height: 11%;
  background: #F0F8FF;  
	z-index: 2;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

header>h1 {
  display: inline;
}

nav {
  padding-right: 5;
 vertical-align: middle;
  display: inline-block;
  margin-left: 80%;
  margin-top: -30px
}

header>nav>a {
  font-size: 1.5em;
  text-decoration: none;
  color: rgba(255, 165, 0, 0.9);
  font-weight: bold;
  /* border: solid red; */
  font-family: 'Architects Daughter', cursive;
  list-style: none;
  margin-top: -30px;
  padding-right: 20px;
}

nav a:hover{
    font-size: 1.7em;
  text-decoration: none;
  color: rgba(255, 165, 0, 0.9);
  padding-right: 10px;
  font-weight: bold;
}

.small {
  height: 50px;
}

.small .logo {
	font-size: 2.6em;
	margin-top: 5px;
}

.logo {
	font-family: 'Lobster', cursive;
  color: rgb(243,167,18);
	font-size: 3em;
	font-weight: 400;
	/* float: left; */
  padding: 5px;
  padding-top: 10px;
	/* margin-top: 40px; */
}


/* Transitions */

header, .logo {
	-webkit-transition: all .15s;
    transition: all .15s; 
}

/* Section Styles */
.title{
  font-family: 'Lobster', cursive;
  padding-top: 30%;
}
.section {
max-width: 100%; 
height: 35em;
padding: 10px;
border: solid black;
}

.section h2 {
color: #fff;
font-size: 6em;
font-weight: 200;
text-align: center;
padding: 2.5em 0;
}

.topImage {
  background: url("") no-repeat center center fixed;
}

.one{
  margin-top: 10%;
  overflow: scroll;
  width: 98%;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 5%;
}

.two{
  background: #1E90FF;
}

.three{
background: #8B4789;
}
.ixPic{
image-orientation: 10deg;
}

.four{
background: #872657;
}

.five {
  background: #8B4789;
}

.six {
  background: #1E90FF; 
}

.seven {
  background: #6bb6ff; 
}

/* Footer Styling */
footer{
max-width: 100%; 
height: 2em;
padding: 10px;
background-color: rgb(219,43,57); 
margin-left: .1%;
margin-bottom: .2%;
}